{% set classes = [ 'paragraph', 'paragraph--type--' ~ paragraph.bundle|clean_class, view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class, not paragraph.isPublished() ? 'paragraph--unpublished' ] %}
{% set option            = content.field_option[0]["#markup"]                      %}
{% set image             = content.field_image                                     %}
{% set body              = content.field_single_column_body.0["#text"]             %}
{% set color_background  = content.field_background_color_[0]["#context"]["value"] %}
{% set color_foreground  = content.field_foregorund_color_[0]["#context"]["value"] %}
{% set image_height      = content.field_image_height[0]["#markup"]                %}
{% set image_url         = image.0["#item"].parent.0.entity.uri.0.url              %}

{% block paragraph %}
    {% if option == "Image above text (no overlay)"  %}
        <div {{ attributes.addClass(classes).addClass("image-above-text").addClass("paragraph-single-column-layout-container").addClass("card") }}  style="height:{{image_height}}px;">
            <div class="image">{{image}}   </div>
            <div class="text" style="background: {{color_background}}; color: {{color_foreground}}" >{{body|raw}}</div>
        </div>
    {% elseif option == "Image under text (overlay, no parallax)" %}
        <div {{ attributes.addClass(classes).addClass("card").addClass("image-under-text").addClass("paragraph-single-column-layout-container")}} style="height:{{image_height}}px;background: url({{image_url}});">
            <div class="card-img-overlay" style="color: {{color_foreground}}">
                {{body|raw}}
            </div>
        </div>
    {% elseif option == "Color under text (overlay)" %}
        {% if color_background == null and color_foreground == null  %}
            <div {{ attributes.addClass(classes).addClass("card").addClass("color-under-text").addClass("paragraph-single-column-layout-container") }}  style="height:{{image_height}}px;">
                {{body|raw}}
            </div>
        {% else %}
            <div class="color-under-text" style="background: {{color_background}}; color: {{color_foreground}}">
                {{body|raw}}
            </div>
        {% endif %}
    {% elseif option == "Image under text (overlay, parallax)" %}
        <div {{ attributes.addClass(classes).addClass("card").addClass("image-under-text").addClass("paragraph-single-column-layout-container").addClass("paragraph-single-column-parallax")}} style="height:{{image_height}}px; background: url({{image_url}});">
            <div class="card-img-overlay" style="color: {{color_foreground}};">
                {{body|raw}}
            </div>
        </div>
    {% endif %}
{% endblock paragraph %}

