{% set classes   = [ 'paragraph', 'paragraph--type--' ~ paragraph.bundle|clean_class, view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class, not paragraph.isPublished() ? 'paragraph--unpublished' ] %}
{# set fid       = content.field_attachment_file[0]["#file"].fid.0.value      #}   {# fid      {{dump(fid)}}                                                    #}
{# set uuid      = content.field_attachment_file[0]["#file"].uuid.0.value     #}   {# uuid     {{dump(uuid)}}                                                   #}
{# set langcode  = content.field_attachment_file[0]["#file"].langcode.0.value #}   {# langcode {{dump(langcode)}}                                               #}
{# set uid       = content.field_attachment_file[0]["#file"].uid.0.value      #}   {# uid      {{dump(uid)}}                                                    #}
{# set filename  = content.field_attachment_file[0]["#file"].filename.0.value #}   {# filename {{dump(filename)}}                                               #}
{# set uri       = content.field_attachment_file[0]["#file"].uri.0.value      #}   {# uri      {{dump(uri)}}                                                    #}
{# set url       = content.field_attachment_file[0]["#file"].uri.0.url        #}   {# url      {{dump(content.field_attachment_file[0]["#file"].uri.0.url)}}    #}
{# set filesize  = content.field_attachment_file[0]["#file"].filesize.0.value #}   {# filesize {{dump(filesize)}}                                               #}
{# set status    = content.field_attachment_file[0]["#file"].status.0.value   #}   {# status   {{dump(status)}}                                                 #}
{# set created   = content.field_attachment_file[0]["#file"].created.0.value  #}   {# created  {{dump(created)}}                                                #}
{# set changed   = content.field_attachment_file[0]["#file"].changed.0.value  #}   {# changed  {{dump(changed)}}                                                #}
{% set filetype  = content.field_attachment_file[0]["#file"].filemime.value   %}

{% block paragraph %}
    <div {{ attributes.addClass(classes).addClass("file").addClass("file-"~filetype|clean_class) }}>
        {{content}}
    </div>
{% endblock paragraph %}