{#
    /**
     * @file
     * Default theme implementation for a field.
     *
     * To override output, copy the "field.html.twig" from the templates directory
     * to your theme's directory and customize it, just like customizing other
     * Drupal templates such as page.html.twig or node.html.twig.
     *
     * Instead of overriding the theming for all fields, you can also just override
     * theming for a subset of fields using
     * @link themeable Theme hook suggestions. @endlink For example,
     * here are some theme hook suggestions that can be used for a field_foo field
     * on an article node type:
     * - field--node--field-foo--article.html.twig
     * - field--node--field-foo.html.twig
     * - field--node--article.html.twig
     * - field--field-foo.html.twig
     * - field--text-with-summary.html.twig
     * - field.html.twig
     *
     * Available variables:
     * - attributes: HTML attributes for the containing element.
     * - label_hidden: Whether to show the field label or not.
     * - title_attributes: HTML attributes for the title.
     * - label: The label for the field.
     * - multiple: TRUE if a field can contain multiple items.
     * - items: List of all the field items. Each item contains:
     *   - attributes: List of HTML attributes for each item.
     *   - content: The field item's content.
     * - entity_type: The entity type to which the field belongs.
     * - field_name: The name of the field.
     * - field_type: The type of the field.
     * - label_display: The display settings for the label.
     *
     * @see template_preprocess_field()
     *
     * @ingroup themeable
     */
    #}

    {% for key,item in items %}

        {% set item_title         = item.content["#paragraph"].field_banner_item_heading.0.value                    %}
        {% set item_body          = item.content["#paragraph"].field_banner_item_body.0.value                       %}
        {% set color_background   = item.content["#paragraph"].field_color_background.0.value                       %}
        {% set color_foreground   = item.content["#paragraph"].field_color_foreground.0.value                       %}
        {% set image_background   = item.content["#paragraph"].field_image.0["#item"].parent.0.entity.uri.0.url     %}
        {% set image_alt          = item.content["#paragraph"].field_image.0.alt                                    %}
        {% set image_url          = item.content["#paragraph"].field_image.0.parent.0.entity.uri.0.url              %}
        {% set animation_speed    = element["#object"].field_animation_speed.0.value                                %}
        {% set item_height        = element["#object"].field_height.0.value                                         %}

        {% if animation_speed == null %}
            {% set animation_style_string = "" %}
        {% else %}
            {% set animation_style_string = "transition: transform " ~ animation_speed ~ " ease-in-out;" %}
        {% endif %}

        {% if item_height == null %}
            {% set item_height_string = "" %}
        {% else %}
            {% set item_height_string = "height:" ~ item_height ~ "px;" %}
        {% endif %}


        {# set the first banner to active by default #}
        {% if key == 0 %}
        <div {{ item.attributes.addClass("carousel-item").addClass("active")}} style="{{animation_style_string}}">
        {# set the non-first banner to in-active by default #}
        {% else %}
        <div {{ item.attributes.addClass("carousel-item")}} style="{{animation_style_string}}">
        {% endif %}
            {% if not image_url == null %}
                <div class="background-layer " style="background:url({{image_url}}); color:{{color_foreground}};{{item_height_string}}">
                    <div class="container">
                        <div class="row banner-title">
                            <h4>{{ item_title }}</h4>
                        </div>
                        <div class="row banner-body">
                            {{ item_body | striptags }}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="background-layer " style="background:{{color_background}};color:{{color_foreground}};{{item_height_string}}">
                    <div class="container">
                        <div class="row banner-title">
                            <h4>{{ item_title }}</h4>
                        </div>
                        <div class="row banner-body">
                            {{ item_body | striptags }}
                        </div>
                    </div>
                </div>
            {% endif %}

        {% if key == 0 %}
        </div>
        {% else %}
        </div>
        {% endif %}
    {% endfor %}