{#
    /**
     * @file
     * Default theme implementation for a field.
     *
     * To override output, copy the "field.html.twig" from the templates directory
     * to your theme's directory and customize it, just like customizing other
     * Drupal templates such as page.html.twig or node.html.twig.
     *
     * Instead of overriding the theming for all fields, you can also just override
     * theming for a subset of fields using
     * @link themeable Theme hook suggestions. @endlink For example,
     * here are some theme hook suggestions that can be used for a field_foo field
     * on an article node type:
     * - field--node--field-foo--article.html.twig
     * - field--node--field-foo.html.twig
     * - field--node--article.html.twig
     * - field--field-foo.html.twig
     * - field--text-with-summary.html.twig
     * - field.html.twig
     *
     * Available variables:
     * - attributes: HTML attributes for the containing element.
     * - label_hidden: Whether to show the field label or not.
     * - title_attributes: HTML attributes for the title.
     * - label: The label for the field.
     * - multiple: TRUE if a field can contain multiple items.
     * - items: List of all the field items. Each item contains:
     *   - attributes: List of HTML attributes for each item.
     *   - content: The field item's content.
     * - entity_type: The entity type to which the field belongs.
     * - field_name: The name of the field.
     * - field_type: The type of the field.
     * - label_display: The display settings for the label.
     *
     * @see template_preprocess_field()
     *
     * @ingroup themeable
     */
#}


{% set page_list_mode                      = element["#object"].field_page_list_display_mode.0.value       %}
{% set page_list_height_text               = element["#object"].field_page_list_text_height.0.value        %}
{% set page_list_height_image              = element["#object"].field_page_list_image_height.0.value       %}
{% set page_list_row_cards                 = element["#object"].field_page_list_number_of_card_p.0.value   %}
{% if not page_list_height_text == null    %}{% set str_page_list_height_text  = "--page-list-card-number-of-lines:#{page_list_height_text};"  %}
{% else                                    %}{% set str_page_list_height_text  = ""                                                            %}{% endif %}
{% if not page_list_height_image == null   %}{% set str_page_list_height_image = "--page-list-card-image-height:#{page_list_height_image}px;"  %}
{% else                                    %}{% set str_page_list_height_image = ""                                                            %}{% endif %}
{% if not page_list_row_cards == null      %}{% set str_page_list_row_cards    = "row-cols-1 row-cols-md-2 row-cols-lg-#{page_list_row_cards}"                             %}
{% else                                    %}{% set str_page_list_row_cards    = "row-cols-1 row-cols-md-2 row-cols-lg-3"                                                  %}{% endif %}
{% if page_list_mode == "List View" %}
    {% set title_classes = [ label_display == 'visually_hidden' ? 'visually-hidden', ] %}
    {% for item in items %}
        {% set item_title   = item.content["#node"].title.0.value                                                      %}
        {% set item_body    = item.content["#node"].body.0.value                                                       %}
        {% set item_created = item.content["#node"].uid.entity.name.0.value                                            %}
        {% set item_node_id = item.content["#node"].nid.0.value                                                        %}
        {% set item_link    = path('entity.node.canonical', {'node': item.content['#node'].id()})                      %}
        {% set item_img_url =  item.content["#node"].nid.entity.field_thumbnail.0.entity.thumbnail.0.entity.uri.0.url  %}
        <div{{ item.attributes.addClass("list-group-item") }}>
            <div class="list-inline">
                <div class="item-heading mt-3">
                    <!-- <a href="{{item_link}}"><h5> {{item_title}} </h5></a> -->
                    <h5> {{item_title}} </h5>
                </div>
                <div class="item-creator">
                    <strong>Author:</strong> {{item_created}}
                </div>
                <div class="item-body mt-0" >
                    <strong>Content:</strong> {{item_body|striptags}}
                </div>
                <a href="{{item_link}}" class="stretched-link"></a>
            </div>
        </div>
    {% endfor %}
{% elseif page_list_mode == "Card View"%}
    <div class="row {{str_page_list_row_cards}}">
        {% for item in items %}
            {% set item_title        = item.content["#node"].title.0.value                                                      %}
            {% set item_body         = item.content["#node"].body.0.value                                                       %}
            {% set item_created      = item.content["#node"].uid.entity.name.0.value                                            %}
            {% set item_node_id      = item.content["#node"].nid.0.value                                                        %}
            {% set item_link         = path('entity.node.canonical', {'node': item.content['#node'].id()})                      %}
            {% set item_img_url      = item.content["#node"].nid.entity.field_thumbnail.0.entity.thumbnail.0.entity.uri.0.url  %}
            {% set item_height_image = item.content["#node"].nid.entity.field_page_list_image_height  %}
            {% set item_height_text  = item.content["#node"].nid.entity.field_page_list_text_height  %}
            {% if not item_img_url == null %}
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="{{item_img_url}}" alt="Card image cap" style="{{str_page_list_height_text}}{{str_page_list_height_image}}">
                        <div class="card-body" style="{{str_page_list_height_text}}{{str_page_list_height_image}}">
                            <h5 class="card-title">    {{item_title}}         </h5>
                            <div class="card-text">    {{item_body|raw}}      </div>
                            <a href="{{item_link}}" class="btn btn-primary card-link-btn">Explore</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <div class="card">
                        <img class="card-img-top card-img-top-hidden" src="{{item_img_url}}" alt="Card image cap" style="{{str_page_list_height_text}}{{str_page_list_height_image}}">
                        <div class="card-body" style="{{str_page_list_height_text}}{{str_page_list_height_image}}">
                            <h5 class="card-title">    {{item_title}}         </h5>
                            <div class="card-text">    {{item_body|raw}}      </div>
                            <a href="{{item_link}}" class="btn btn-primary card-link-btn">Explore</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


<style>
    .page-list-items.list-group.page-list-card-view {
        --page-list-card-number-of-lines : 5;
        --page-list-card-image-height: 180px;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
    .page-list-items.list-group.page-list-card-view .card{
        margin-bottom: 20px;
    }
    .page-list-items.list-group.page-list-card-view img.card-img-top{
        height: var(--page-list-card-image-height);
    }
    .page-list-items.list-group.page-list-card-view img.card-img-top.card-img-top-hidden{
        display:none;
    }
    .page-list-items.list-group.page-list-card-view .card-body .card-title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
    }
    .page-list-items.list-group.page-list-card-view img.card-img-top + .card-body .card-text{
        line-height: 1.5;
        height: calc(var(--page-list-card-number-of-lines) * 1.5em);
        overflow-y: hidden;
        margin-bottom: 15px;
    }
    .page-list-items.list-group.page-list-card-view img.card-img-top-hidden + .card-body .card-text{
        line-height: 1.5;
        height: calc(var(--page-list-card-number-of-lines) * 1.5em + var(--page-list-card-image-height));
        overflow-y: hidden;
        margin-bottom: 15px;
    }
    .page-list-items.list-group.page-list-card-view .card-link-btn.btn-primary{
	    background: var(--bs-link-color);
	    border: var(--bs-border-width) var(--bs-border-style) var(--bs-link-color);
    }
    .page-list-items.list-group.page-list-card-view .card-link-btn.btn-primary:hover{
	    background: var(--bs-link-hover-color);
	    border: var(--bs-border-width) var(--bs-border-style) var(--bs-link-hover-color);
    }
</style>