{#
/**
* @file
* Theme override for a link to a file.
*
* Available variables:
* - attributes: The HTML attributes for the containing element.
* - link: A link to the file.
* - icon: The icon image representing the file type.
*
* @see template_preprocess_file_link()
*/
#}
{{ attach_library('bootstrap_barrio/file') }}


{% set file_name          = file.filename.0.value                        %}
{% set file_url           = file.uri.0.url                               %}
{% set file_mime          = file.filemime.0.value                        %}
{% set file_name_prefix   = file.filename.0.value | split('.')[:-1]|join %}
{% set file_name_suffix   = file.filename.0.value | split('.')|last      %}

<div class="paragraph-file-attachment-link paragraph-file-attachment-link-item">
    <a href="{{file_url}}" >
        <span{{ attributes }}>
            <div class="file-icon d-block">
                {{ icon }}
            </div>
            <div class="file-link d-inline-block text-truncate" style="">
                {{file_name_prefix}}
            </div>
            {# <div class="file-type d-inline-block text-truncate" style="width: 130px;"> {{ file_name_suffix }} </div> #}
            {# <div class="file-size d-inline-block text-truncate" style="width: 100px;"> {{ file_size }}        </div> #}
            <div class="file-type-size d-inline-block text-truncate"> {{ file_name_suffix }} |  {{ file_size | lower }}    </div>

        </span>
    </a>
</div>
